<div class="hotelcard">
    <!--header card-->
    <div class="grid">

        <div class="grid__col-12">
            {{hotelCard.title}}
        </div>


    </div>
    <!--header card-->
    <!--listado caarcteristicas-->
    <div class="grid">
        <ul >
            <li *ngFor="item of hotelCard?.activities"> Lorem Ipsum </li>
        </ul>
    </div>
    <!--/listado caarcteristicas-->

    <div class="grid checkRegimen">
        <div class="grid__col-12">
                <input type="radio">Elegir regimen
        </div>
    </div>
</div>
