<div class="hotelcard">
    <!--header card-->
    <div class="grid">

        <div class="grid__col-12">
            TITULO
        </div>


    </div>
    <!--header card-->
    <!--listado caarcteristicas-->
    <div class="grid">
        <ul>
            <li>Item 1</li>
        </ul>
    </div>
    <!--/listado caarcteristicas-->

    <div class="grid">
        <div class="grid__col-12">
            <div class="check checkRegimen">
                <input type="radio">Elegir regimen
            </div>
        </div>
       
     
    </div>
</div>