<div class="tabcontent">
    <div class="grid">
        <!--TITULO-->
        <div class="grid__col-12 hotel">
            <span style="margin-right: 40px">HOTEL Mieres del Carmín Apartamentos</span>
            <span *ngFor="let i of [].constructor(5)">
                <img src="../../assets/img/star-orange.svg">
            </span>
        </div>
        <!--/TITULO-->

    </div>
        <!--Tarjetas-->
        <div class="grid" >
            <div class="grid__col-3" *ngFor="let hotelCard of hotelCards; let i = index">
                <app-hotel-card id="{{i}}"[hotelCard]="hotelCard" [isActive]="i"></app-hotel-card>
            </div>
        </div>
        <!--tarjetas-->

</div>


