<div class="tabcontent">
    <div class="grid">
        <!--TITULO-->
        <div class="grid__col-12 hotel">
            <span style="margin-right: 40px">HOTEL Mieres del Carmín Apartamentos</span>
            <span *ngFor="let i of [].constructor(5)">
                <img src="../../assets/img/star-orange.svg">
            </span>
        </div>
        <!--/TITULO-->

        <!--Tarjetas-->
        <div class="grid">
            <app-hotel-card></app-hotel-card>
        </div>

        <!--tarjetas-->
    </div>
</div>