<!--titulo -->
<div class="grid">
  <div class="grid__col-2">
    SOY UNA IMAGEN
  </div>
  <div class="grid__col-10">

    <div class="grid--no-gutter">
      <div class="grid__col-12">
        <span class="hotel">Olvidese de la rutina</span>
      </div>
      <div class="grid__col-12">
        <span class="hotel">Olvidese de la rutina</span>
      </div>
      <div class="grid__col-12">
        <span class="hotel">Olvidese de la rutina</span>
      </div>
    </div>
  </div>
</div>
<!--/titulo -->
<!--descripcion breve-->
<!--/descripcion breve-->
<!--mostrar mas -->
<!--accordeon secondary-->
<!--Listado con disposicion horizontal-->
<!--/listado con disposicion horixontal-->
<!--/accordeon secondary-->
<!--/mostrar mas-->
